<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MMY Recipe Book!</title>
</head>
<body>
<h1>Welcome to MMY Recipe Book!</h1>
<form action="/task", method="POST">
    <select name="options" id="options">
	  <option value="create" id="create" name="task">Create a Recipe</option>
	  <option value="search" id="search" name="task">Search For a Recipe By Name</option>
	  <option value="browse" id="browse" name="task">Browse All Recipes</option>
	</select>
	<input type="submit">
</form>

</body>
</html>